body {
	font-family: Arial, sans-serif;
	height: 1500px;
}


.header {
	text-align: center;
	background-color: #60463B;
	color: white;
	padding: 20px;
}

.navigation {
	background-color: #6C6F7D;
	overflow: hidden;
}	

.navigation a {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	margin-right: 70px;
	margin-left: 70px;
}

.navigation a:hover {
	background-color: #ddd;
	color: black;
}

.navigation a.active {
	background-color: #2E3138;
	color: white;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #60463B;
	color: white;
	text-align: center;
	font-size: 22px;
	padding: 5px;
}

.footer p {
	float:left;
	margin-right: 150px;
	margin-left: 150px;
}

#company {
	margin-left: 125px;
	font-weight: bold;
}

.content {
	float: left;
	width: 60%;
	padding: 20px;
	line-height: 1.8;
}

.table {
	float: right;
	margin: 20px;
	padding-right: 80px;
	padding-top: 20px;
}

table, th, td {
	border-collapse: collapse;
	border: 2px solid black;
}

th, td {
	width: 100px;
	height: 30px;
}

th {
	background-color: #6C6F7D;
}

td {
	background-color: #f2f2f2;
}
	

caption {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 10px;
}

.image {
	clear: left;
	float: left;
	padding: 20px;
	
}

.video {
	clear: right;
	float: right;
	padding-bottom: 10px;
	padding-top: 15px;
	padding-right: 100px;
}

button {
	border: none;
	cursor: pointer;
}

button:hover {
	opacity: 0.7;
}

/*responsive web design*/
@media only screen and (max-width: 1700px) {
	.footer p {
		float:left;
		margin-right: 100px;
		margin-left: 100px;
	}
	
	.navigation a {
		float: left;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 18px;
		color: white;
		margin-right: 50px;
		margin-left: 50px;
	}
	
	.content {
		float: left;
		width: 80%;
		padding: 20px;
		line-height: 1.8;
	}

	.table {
		float: right;
		margin: 20px;
		padding-right: 80px;
		padding-top: 20px;
	}
	
	.image {
		clear: left;
		float: left;
		padding: 20px;
	}

	.video {
		clear: left;
		float: left;
		padding-bottom: 10px;
		padding-top: 50px;
		padding-right: 100px;
		padding-left: 50px;
	}
}

@media only screen and (max-width: 1560px) {
	.footer p {
		float:left;
		margin-right: 60px;
		margin-left: 60px;
	}
	
	.navigation a {
		float: left;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 18px;
		color: white;
		margin-right: 30px;
		margin-left: 50px;
	}
}

@media only screen and (max-width: 1405px) {
	.navigation a {
		float: left;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 18px;
		color: white;
		margin-right: 20px;
		margin-left: 40px;
	}
}

@media only screen and (max-width: 1350px) {
	body {
		height: 2200px;
	}
	
	.table {
		float: left;
		margin: 50px;
		padding-right: 80px;
		padding-bottom: 50px;
	}
	
	.image {
		clear: left;
		float: left;
		padding: 20px;
	}

	.video {
		clear: left;
		float: left;
		padding-bottom: 10px;
		padding-top: 80px;
		padding-right: 100px;
		padding-left: 50px;
	}
}

@media only screen and (max-width: 1260px) {
	body {
		height: 2500px;
	}
	
	.navigation a {
		float: left;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 18px;
		color: white;
		margin-right: 15px;
		margin-left: 25px;
	}
}

@media only screen and (max-width: 1080px) {
	.footer p {
		float:left;
		margin-right: 40px;
		margin-left: 40px;
	}
	
	.navigation a {
		float: left;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 18px;
		color: white;
		margin-right: 10px;
		margin-left: 20px;
	}
}

@media only screen and (max-width: 1060px) {
	body {
		height: 2500px;
	}
	
	.navigation a {
		float: left;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 18px;
		color: white;
		margin-right: 10px;
		margin-left: 15px;
	}
}

@media only screen and (max-width: 615px) {
	body {
		height: 5000px;
	}
	
	.table {
		float: left;
		margin: 10px;
		padding-right: 80px;
		padding-bottom: 20px;
	}
	
	.image {
		clear: left;
		float: left;
		padding: 10px;
	}

	.video {
		clear: left;
		float: left;
		margin-bottom: 50px;
		padding-top: 50px;
		padding-right: 100px;
		padding-left: 50px;
	}
}
